@font-face {
    font-family: pepa;
    src: url(assets/fonts/ProtestRiot-Regular.ttf);
}

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}


.container {
    width: 100vw;
    min-width: 100vw;
    align-self: center;
    background: url(assets/main-back.webp) center/cover repeat;
}

.header {   
    display: flex;
    flex-direction: row-reverse;  
    background-color: #4F81DA;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}

.logo-img {
    width: 100%;
    max-width: 70px;
    margin: 0;
}

.logo-text {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
}

.cloud-title {
    width: 100%;
    margin-top: 5px;
    max-width: 195px;
    max-height: 90px;
}

.cloud-first {
    width: 100%;
    margin-top: 5px;
    max-width: 140px;
    max-height: 90px;
}

.cloud-second {
    width: 100%;
    margin-top: 5px;
    max-width: 140px;
    max-height: 90px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    gap: 100px;
    
    
}
.indroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;

}
.introduction-img {
    margin-top: 20px;
    width: 100%;
    max-width: 650px;
    max-height: 400px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.333);
}

.indroduction-text {
    width: 100%;
    max-width: 600px;
}

.text-border {
    border: 2px solid black;
    background-color: rgba(42, 194, 54, 0.782);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 1.5px 1.5px 8px 0 rgba(0, 0, 0, 0.554);

}

.text-border1 {
    border: 2px solid black;
    background-color: rgba(235, 164, 43, 0.782);
    border-radius: 10px;
    padding: 15px;
}

.frog-develop {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}

.pictures-frog-and-arrow {
    display: flex;
    justify-content: center;
    margin-bottom:15px;
    flex-wrap: wrap;
}

.tadpoel {
    width: 90px;
    margin: 0;
    height: 240px;
}

.tadpoel-hand {
    width: 150px;
    height: 260px; 
}
.arrow {
    max-width: 200px;
    margin: 10px;
}

.arrow-vertical {
    width: 0;
}

.frog {
    width: 300px;
    margin: 0;
}

.frog-develop-text {
    width: 100%;
    max-width: 460px;
}

.realistic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realistic-show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px
}
.realistic-frog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.realistic-frog-ingame{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.frog {
    width: 250px;
    height: 200.05px;
}

.realistic-frog-real{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.real-frog {
    width: 300px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.333);
}

.realistic-tadpoel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.realistic-tadpoel-ingame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.tadpoel-game {
    width: 90px;
    height: 200.5px;
}

.realistic-tadpoel-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.real-tadpoel {
    width: 100%;
    max-width: 300px;
    height: 200px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.333);
}

.text-realistic {
    width: 100%;
    max-width: 500px;
    text-align: right;
}


.gameplay-show {
    align-self: center;
}

.gameplay-gif {
}

.instuction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.instruction-first {
    display: flex;
}

.instuction-img-first {
    width: 30%;
    height: 30%;
    max-width: 200px;
    align-self: center;
}

.instuction-text-first {
    width: 100%;
    max-width: 400px;
    align-self: center;
}

.instuction-text-second {
    width: 100%;
    max-width: 400px;
    align-self: center;
    justify-self: center;
}

.instruction-second {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.instuction-img-second {
    width: 100%;
    max-width: 500px;
    max-height: 250px;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('assets/site-sand-dnishe.png');
    align-items: center;
}

.download_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 150px;
    background: url(assets/treasure.png) center/cover no-repeat;
    max-width: 200px;
    width: 100%;
    height: 145px;
    text-align: center;
    text-decoration: none;
}

.treasure {
    width: 100%;
    max-width: 200px;
    height: 145px;
}

.text-in-treasure {
    color: rgb(0, 195, 255);
    font-size: 2em;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.673);
    text-align: center;
}

.bubbles {
    display: flex;
    justify-content: space-between;
    
}

.bubble-left-group {
    display: flex;
    flex-direction: column;
}

.bubble-left-11 {
    display: flex;
}

.bubble-left-1 {
    animation: fly 4s infinite 0.8s;
    opacity: 0;
}

.bubble-left-2 {
    animation: fly 4s infinite;
    opacity: 0;
}

.bubble-left-12 {
    display: flex;
}

.bubble-left-3 {
    animation: fly 4s infinite 3s;
    opacity: 0;
}

.bubble-left-4 {
    animation: fly 4s infinite 2s;
    opacity: 0;
}

.bubble-left-13 {
    display: flex;
}

.bubble-left-5 {
    animation: fly 4s infinite 4.4s;
    opacity: 0;
}

.bubble-left-6 {
    animation: fly 4s infinite 3.3s;
    opacity: 0;
}

.bubble1-img {
    width: 50px;
}

.bubble-right-11 {
    display: flex;
}

.bubble-right-1 {
    animation: fly 4s infinite 0.4s;
    opacity: 0;
}

.bubble-right-2 {
    animation: fly 4s infinite 0.7s;
    opacity: 0;
}

.bubble-right-12 {
    display: flex;
}

.bubble-right-3 {
    animation: fly 4s infinite 1.4s;
    opacity: 0;
}

.bubble-right-4 {
    animation: fly 4s infinite 2.3s;
    opacity: 0;
}

.bubble-right-13 {
    display: flex;
}

.bubble-right-5 {
    animation: fly 4s infinite 2.9s;
    opacity: 0;
}

.bubble-right-6 {
    animation: fly 4s infinite 3.5s;
    opacity: 0;
}

.bubble2-img {
    width: 50px;
}

@keyframes fly {
    0% { 
        translate: 0 0px;
        opacity: 100;
        
    }
    100% {
        translate: 0 -3450px;
        opacity: 100;
    }
}

@media (max-width: 500px) {
    .download_button {
        left: 0px;
    }
    .container {
        box-shadow: none;
    }
    .realistic-tadpoel-real {
        width: 400px;   
    }
    .logo-text {
        margin: 0 auto;
        text-align: center;
        font-size: 0.61em;
    }

    .pictures-frog-and-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .arrow {
        width: 0;
    }
    .arrow-vertical {
        width: 200px;
    }

    @keyframes fly {
        0% { 
            translate: 0 0px;
            opacity: 100;
            
        }
        100% {
            translate: 0 -5550px;
            opacity: 100;
        }
    }

}    




/* name duration timing-function delay iteration-count direction fill-mode */
